.navbar3-wrapper {
  display: contents;
}
 
.navbar3-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar3-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar3-image1 {
  width: var(--dl-layout-size-medium);
  height: auto;
}
 
.navbar3-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar3-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar3-link11 {
  text-decoration: none;
}
 
.navbar3-link21 {
  text-decoration: none;
}
 
.navbar3-link31 {
  text-decoration: none;
}
 
.navbar3-link {
  display: contents;
}
 
.navbar3-icon-group1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar3-burger-menu {
  display: none;
}
 
.navbar3-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar3-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar3-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar3-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar3-logo {
  height: 3rem;
}
 
.navbar3-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar3-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar3-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar3-icon-group2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text102 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text101 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text104 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text103 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text100 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .navbar3-desktop-menu {
    display: none;
  }
  .navbar3-burger-menu {
    display: flex;
  }
  .navbar3-icon16 {
    width: var(--dl-layout-size-small);
    height: auto;
  }
}
 
@media(max-width: 767px) {
  .navbar3-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar3-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar3-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar3-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.banner3-wrapper {
  display: contents;
}
 
.banner3-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner3-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.banner3-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner3-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner3-title {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  font-size: 75px;
  text-align: center;
}
 
.banner3-text1 {
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text107 {
  display: inline-block;
  font-size: 85px;
  font-style: italic;
  font-weight: 700;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text105 {
  display: inline-block;
}
 


.content-list6-wrapper {
  display: contents;
}
 
.content-list6-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list6-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: row;
}
 
.content-list6-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
 
.content-list6-container3 {
  width: auto;
  padding: var(--dl-layout-space-twounits);
  align-items: flex-start;
}
 
.content-list6-container4 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list6-ul1 {
  height: auto;
  align-items: flex-start;
}
 
.content-list6-li10 {
  align-items: flex-start;
}
 
.content-list6-heading7 {
  align-self: center;
  text-align: center;
}
 
.content-list6-accordion1 {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  flex-direction: column;
}
 
.content-list6-trigger1 {
  cursor: pointer;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: #D9D9D9;
}
 
.content-list6-summary1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.content-list6-text106 {
  font-style: normal;
  font-weight: 600;
}
 
.content-list6-icon-container1 {
  transition: transform 0.3s ease-in-out;
}
 
.content-list6-container5 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list6-text107 {
  height: 200px;
  min-height: 400px;
}
 
.content-list6-accordion2 {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  flex-direction: column;
}
 
.content-list6-trigger2 {
  cursor: pointer;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: #D9D9D9;
}
 
.content-list6-summary2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.content-list6-text108 {
  font-style: normal;
  font-weight: 600;
}
 
.content-list6-icon-container2 {
  transition: transform 0.3s ease-in-out;
}
 
.content-list6-container6 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list6-text109 {
  height: 200px;
  min-height: 400px;
}
 
.content-list6-accordion3 {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  flex-direction: column;
}
 
.content-list6-trigger3 {
  cursor: pointer;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: #D9D9D9;
}
 
.content-list6-summary3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.content-list6-text110 {
  font-style: italic;
  font-weight: 600;
}
 
.content-list6-icon-container3 {
  transition: transform 0.3s ease-in-out;
}
 
.content-list6-container7 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list6-text111 {
  height: 200px;
  min-height: 400px;
}
 
.content-list6-container8 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list6-li11 {
  align-items: flex-start;
}
 
.content-list6-heading1 {
  align-self: center;
  text-align: center;
}
 
.content-list6-ul3 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list6-container9 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list6-ul4 {
  align-items: flex-start;
}
 
.content-list6-li17 {
  align-items: flex-start;
}
 
.content-list6-heading10 {
  align-self: center;
  text-align: center;
}
 
.content-list6-ul5 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text537 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text542 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text536 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text549 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text544 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text535 {
  display: inline-block;
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text554 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text375 {
  display: inline-block;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text553 {
  display: inline-block;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text541 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text538 {
  display: inline-block;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text550 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text539 {
  display: inline-block;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text548 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text531 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text543 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text532 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text552 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text374 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text545 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text453 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text540 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text452 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text108 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text547 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text546 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text533 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text551 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text534 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .content-list6-max-width {
    align-items: center;
    flex-direction: column;
  }
  .content-list6-container2 {
    align-self: center;
  }
  .content-list6-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-list6-ul3 {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .content-list6-ul5 {
    padding-left: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .content-list6-max-width {
    flex-direction: column;
  }
  .content-list6-container2 {
    align-self: center;
  }
  .content-list6-ul3 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .content-list6-ul5 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
}

.footer15-wrapper {
  display: contents;
}
 
.footer15-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
 
.footer15-content {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
}
 
.footer15-actions1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
 
.footer15-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer15-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer15-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer15-container2 {
  width: 365px;
  display: flex;
  align-items: stretch;
}
 
.footer15-text-input {
  width: 100%;
  background-color: transparent;
}
 
.footer15-button {
  text-decoration: none;
}
 
.footer15-media {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.footer15-container3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer15-link {
  display: contents;
}
 
.footer15-image1 {
  height: 4rem;
  text-decoration: none;
}
 
.footer15-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer15-credits1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer15-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.footer15-content3 {
  align-self: center;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text555 {
  display: inline-block;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text557 {
  display: inline-block;
}
 
.home-fragment53 {
  display: contents;
}
 
.home-text560 {
  display: inline-block;
}
 
.home-fragment52 {
  display: contents;
}
 
.home-text559 {
  display: inline-block;
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text558 {
  display: inline-block;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text556 {
  display: inline-block;
}
 
.home-fragment54 {
  display: contents;
}
 
.home-text561 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer15-content {
    flex-direction: row;
  }
  .footer15-newsletter {
    width: 50%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container2 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .footer15-media {
    width: 50%;
  }
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .footer15-content {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer15-actions1 {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer15-container2 {
    width: 100%;
  }
  .footer15-button {
    width: 208px;
  }
  .footer15-media {
    width: 100%;
    align-items: center;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits2 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer15-content {
    gap: var(--dl-layout-space-twounits);
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-actions2 {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container2 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
  }
  .footer15-media {
    width: 100%;
  }
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text100 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text101 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text102 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text103 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text104 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text105 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text107 {
  display: inline-block;
  font-size: 85px;
  font-style: italic;
  font-weight: 700;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text108 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text374 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text375 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text452 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text453 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text531 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text532 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text533 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text534 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text535 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text536 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text537 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text538 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text539 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text540 {
  display: inline-block;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text541 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text542 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text543 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text544 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text545 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text546 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text547 {
  display: inline-block;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text548 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text549 {
  display: inline-block;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text550 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text551 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text552 {
  display: inline-block;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text553 {
  display: inline-block;
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text554 {
  display: inline-block;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text555 {
  display: inline-block;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text556 {
  display: inline-block;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text557 {
  display: inline-block;
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text558 {
  display: inline-block;
}
 
.home-fragment52 {
  display: contents;
}
 
.home-text559 {
  display: inline-block;
}
 
.home-fragment53 {
  display: contents;
}
 
.home-text560 {
  display: inline-block;
}
 
.home-fragment54 {
  display: contents;
}
 
.home-text561 {
  display: inline-block;
}
